/* common styles */
* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	outline: none;
	position: relative;
}
html {
	overflow-x: hidden;
}
body {
	width: 100%;
	max-width: 1980px;
	min-height: 100vh;
	font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
	margin: 0 auto;
    color: #232323;
    &.hidden{
        overflow: hidden;
        height: 100vh;
        display: block !important;
    }
}
img {
	max-width: 100%;
}

a {
    color: #000;
	text-decoration: none;
}
h1{
	font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 52px;
    text-align: center;
    margin: 0 auto 60px;
    width: max-content;
    &::before{
        content: "";
        display: block;
        width: 102%;
        position: absolute;
        height: 10px;
        top: 72%;
        background-color: rgba(172, 149, 115, 0.3);
        left: -1%;
        z-index: -1;
    }
}
h2{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 40px;
    text-align: center;
    margin: 15px 0;
}
.mobile_visible{
    display: none;
    width: 100%;
}
.container{
    width: 100%;
    max-width: 1170px;
    margin: auto;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 60px 0 100px;
    border-bottom: 1px solid #AC9573;
}
.slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 30px 0 0;
    padding: 0;
    li{
        list-style-type: none;
        width: 20px;
        height: 20px;
        border: 1px solid #AC9573;
        border-radius: 50%;
        margin: 5px;
        cursor: pointer;
        &.slick-active{
           background-color: #AC9573; 
        }
        button{
            display: none;
        }
    }
}
form{
    button{
        width: 200px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #AC9573;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 0.05em;
        background: initial;
        cursor: pointer;
        text-transform: uppercase;
    }
}
.animate_button{
    transition: .1s;
    &:hover{
        color: #fff;
        background: #AC9573;
    }
    &:active{
        transition: 0s;
        filter: drop-shadow(0px 0px 10px rgba(172, 149, 115, 0.6)); 
    }
}
@media screen and (max-width: 1000px){
    .mobile_visible{
        display: block;
    }
    .mobile_hidden{
        display: none !important;
	}
}
/* end common styles */

.heading{
    width: 100%;
    display: flex;
    justify-content: center;
    span{
        font-size: 22px;
        line-height: 30px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        &::before{
            content: "";
            display: block;
            width: 110%;
            position: absolute;
            height: 10px;
            top: 60%;
            background-color: rgba(172, 149, 115, 0.3);
            left: -5%;
        }
    }
}
.breadcrumb_wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    .breadcrumb_element{
        font-weight: 300;
        font-size: 12px;
        display: flex;
        align-items: center;
        &::after{
            content:"";
            display: block;
            height: 1px;
            background: #232323;
            width: 10px;
            margin: 0 10px;
        }
        &.last{
            color:#AC9573;
            &::after{
                display: none;
            }
        }
    }
}
/* Main SECTION */

.main_section_wrapepr{
    display: flex;
    .text_box{
        width: 60%;
        padding-right: 20px;
        .main_section_title{
            font-weight: 500;
            font-size: 64px;
            line-height: 100%; 
            text-align: left;
            margin: 0 0 15px;
            max-width: 660px;
            padding: 0;
            &::before{
                display: none;
            }
        }
        p{
            font-weight: 300;
            font-size: 22px;
            line-height: 120%; 
            max-width: 480px;
            margin: 0;
        }
        .adv_line{
            margin-top: 100px;
            display: flex;
            .adv{
                display: flex;
                align-items: center;
                width: 50%;
                padding-right: 20px;
                img{
                    max-width: 65px;
                    margin-right: 50px;
                }
            }
        }
    }
    .img_box{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
    }
}


/* END Main SECTION */


/* Catalog SECTION */
.catalog_section{
    background: rgba(240, 241, 236, 0.5);
}
.catalog_wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    padding: 30px 0;
    .catalog_element{
        width: calc(33.333% - 30px);
        margin: 15px;
        background-color: #fff;
        box-shadow: 0px 0px 15px rgba(211, 211, 209, 0.6);
        .img_box{
            height: 250px;
            margin-bottom: 30px;
            img{
                object-fit: cover;
            }
            .product_link_bg{
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(172, 149, 115, 0.6);
                opacity: 0;
                transition: .5s;
                a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 200px;
                    height: 50px;
                    border: 1px solid rgba(255, 255, 255, 0.6);
                    color: #fff;  
                    font-size: 22px;             
                }
            }
            &:hover{
                .product_link_bg{
                    opacity: 1;
                } 
            }
        }
        .content_box{
            padding: 0 15px 15px;
            height: 130px;
            .name{
                font-family: 'Ubuntu', sans-serif;
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
            }
            .description{
                font-size: 14px;
                line-height: 19px;  
                margin: 10px 0 0;
            }
        }
    }
}
/* END Catalog SECTION */

/* before_after Section */
.before_after{
    background: rgba(172, 149, 115, 0.3);
    h2{
        max-width: 700px;
        margin: 15px auto;
    }
}
.example_slider_wrapper{
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
    .examle_element{
        width: 100%;
        height: 500px;
       .before{
           display: flex;
           width: calc(50% - 30px);
           position: absolute;
           left: 0;
           top: 0;
           .text{
            font-size: 22px;
                transform: rotate(-90deg);
                display: block;
                position: absolute;
                bottom: 60px;
                left: -2px;
           }
        }     
       .after{
            display: flex;
            width: calc(50% - 30px);
            position: absolute;
            right: 0;
            bottom: 0;
            .text{
                font-size: 22px;
                transform: rotate(-90deg);
                display: block;
                position: absolute;
                bottom: 75px;
                left: -20px;
            }
       }
       .text_column{
           width: 30px;
           height: auto;
           &::before{
            content: "";
            width: 40px;
            height: 1px;
            display: block;
            background-color: #d3d3d1;
            float: left;
            position: absolute;
            top: calc(100% - 25px);
            transform: rotate(90deg); 
           }
        }
    }
}

/* END before_after Section */

.work_example{
    border-bottom: none;
}
/* Form SECTION */
.form_section{
    background: #F2EDDA;
    border-top: 3px solid #AC9573;  
    border-bottom: 3px solid #AC9573;
    padding: 55px 0;
}
.form_box{
    display: flex;
    .form_text_box{
        width: 50%;
        .form_title{
            font-weight: 500;
            font-size: 35px;
            line-height: 40px;
            text-align: left;
        }
        .form_text{
            font-size: 16px;
            line-height: 22px;
        }
    }
    form{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 200px;
        input{
            width: 100%;
            max-width: 255px;
            border: none;
            border-bottom: 1px solid #AC9573 !important;
            background: initial;
            font-size: 22px;
            height: 50px;
            ::placeholder{
                color: #9F9F9F;
            }
        }
        button{
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}
/* END Form SECTION */



/* Advantages SECTION */
section.advantages{
    border-bottom: none;
}
.advantages_wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 0 0;
    .advanteges_element{
        width: 33.333%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 20px 0;
        img{
           height: 65px; 
        }
        p{
            font-size: 22px;
            line-height: 30px;
        }
    }
}
/* END Advantages SECTION */

.catd_text_content{
    width: 80%;
    margin: 20px auto 60px;
    .catd_text_title{
        font-weight: 600;
        margin: 10px 0;
    }
}
.mark_list{
    padding: 0;
    margin-bottom: 40px;
    li{
        list-style-type: none;
        padding-left: 25px;
        margin: 10px 0;
        &::before{
            content: "";
            display: flex;
            position: absolute;
            width: 15px;
            height: 5px;
            top: calc(50% - 2.5px);
            left: 0;
            background: #AC9573;
        }
    }
}

.card_wrapepr{
    display: flex;
    margin-bottom:40px ;
    .img_slider_box{
        width: 50%;
       padding: 40px 10% 0 15px;
       .slick-list{
            box-shadow: -15px -15px rgba(172, 149, 115, 0.3);;
       }
    }
    .example_box{
        width: 50%;
        .example_box_title{
            font-family: 'Ubuntu', sans-serif;
            font-weight: 500;
            font-size: 24px;
            margin-bottom: 30px;
        }
        .example_wrapper{
            display: flex;
            flex-wrap: wrap;
            margin: 10px -5px;
            .example_wrapper_title{
                width: 100%;
                margin: 0 5px 5px;
                font-size: 22px;
            }
            .example_element{
                width: 45px;
                height: 45px;
                margin: 5px;
                .photo_example_box{
                    width: 240px;
                    height: 120px;
                    border: 5px solid #AC9573;
                    z-index: 5;
                    visibility: hidden;
                    opacity: 0;
                    position: absolute;
                    left: calc(50% - 120px);
                    filter: drop-shadow(0px 0px 10px rgba(172, 149, 115, 0.6));
                    bottom: calc(100% - 1px);
                    transition: .5s;
                    &::after{
                        content: "";
                        width: 13px;
                        height: 8px;
                        background: url(../img/svg/down-arrow.svg) center/100% no-repeat;
                        position: absolute;
                        left: calc(50% - 6.5px);
                        bottom: -12px;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                &:hover .photo_example_box{
                    visibility: visible; 
                    opacity: 1;
                }
            }
            .price_example{
                width: 160px;
                margin: 20px 100px 0 0;
            }
        }
    }
}
section.our_partners{
    background: #F7F8F5;
}
.our_partners_wrapepr{
    margin: 40px 0 0;
    padding: 0 8%;
        .img_wrapper{
            height: 80px;
            width: calc(20% - 30px);
            display: flex;
            align-items: center;
            justify-content: center;
            background: #FFFFFF;
            box-shadow: 0px 0px 30px rgba(211, 211, 209, 0.3); 
            margin: 20px 15px;
        }
    .slick-arrow{
        position: absolute;
        top: calc(50% - 21px);
        cursor: pointer;
        &.prev{
            transform: rotate(180deg);
            left: 20px;
        }
        &.next{
            right: 20px;
        }
    }
}

.insta_wrapper{
    display: flex;
    .insta_element{
        display: flex;
        flex-direction: column;
        margin: 15px;
        width: 33.333%;
        .top_line{
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            &::after{
                content: "...";
                position: absolute;
                top: -5px;
                right: 15px;
                font-size: 20px;
                color: #4F4F4F;
            }
            .text{
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 10px;
                p{
                    font-weight: 600;
                    font-size: 11px;
                    line-height: 11px;
                    margin: 0;
                }
                span{
                    font-weight: 600;
                    font-size: 10px;
                    line-height: 11px;  
                }
            }
        }
        .bottom_line{
            margin-top: 15px;
            img:last-child{
                float: right;
            }
        }
    }
}

.gallery_wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    .gellery_element{
        width: calc(25% - 30px);
        margin: 15px;
        overflow: hidden;
        img{
            object-fit: cover;
            transition: .5s;
            width: 100%;
            height: 100%;
        }
        &:hover{
            img{
                transform: scale(1.2);
            }
        } 
    }
}
.reviews_wrapper{
    display: flex;
    flex-direction: column;
    .reviews_element{
        padding: 25px 70px 40px 130px;
        box-shadow: 0px 0px 30px rgba(211, 211, 209, 0.3);
        margin-bottom: 30px;
        &::before{
            content: "";
            display: block;
            position: absolute;
            left: 25px;
            top: 25px;
            width: 45px;
            height: 38px;
            background: url(../img/svg/quotes.svg) center no-repeat;
        }
        .top_line{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
            .name{
                font-family: 'Ubuntu', sans-serif;
                font-weight: 500;
                font-size: 24px;
                
            }
            .stars{
                display: flex;
                align-items: center;
                .star{
                    margin: 0;
                    width: 20px;
                    height: 20px;
                    background: url(../img/svg/full-star.svg) center no-repeat;
                    &.empty{
                        background: url(../img/svg/empty-star.svg) center no-repeat;  
                    }
                }
            }
        }
    }
}

.control_line{
    display: flex;
    font-size: 12px;
    margin-bottom: 60px;
    .prev_page{
        width: 75px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #AC9573;
        &::before{
            content: "";
            width: 5px;
            height: 10px;
            background: url(../img/svg/control-arrow.svg) center no-repeat;
            transform: rotate(180deg);
            margin-right: 5px;
        }
    }
    .next_page{
        width: 75px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #AC9573;
        &::after{
            content: "";
            width: 5px;
            height: 10px;
            background: url(../img/svg/control-arrow.svg) center no-repeat;
            margin-left: 5px;
        }
    }
    .pages{
        display: flex;
        margin: 0 20px;
        border: 1px solid #AC9573;
        height: 26px;
        .page{
            width: 25px;
            height: 26px;

            top: -1px;
            border-right: 1px solid #AC9573;
            display: flex;
            align-items: center;
            justify-content: center;
            &:last-child{
                border-right: none;
            }
        }
    }
}
section.review_mail{
    background: #F7F8F5;
    .review_mail_slider{
        margin: 40px 0 0;
        padding: 0 40px;
        .review_mail_element{
            box-shadow: 0px 0px 30px rgba(211, 211, 209, 0.3);
            padding: 23px 40px;
            background: #fff;
            margin: 0 15px;
        }
        .slick-arrow{
            position: absolute;
            top: calc(50% - 21px);
            cursor: pointer;
            &.prev{
                transform: rotate(180deg);
                left: 10px;
            }
            &.next{
                right: 10px;
            }
        }
    }
    
}
.review_form_button{
   width: 275px;
   height: 68px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: 'Ubuntu', sans-serif;
   font-weight: 500;
    font-size: 24px;
    margin-bottom: 30px;
    cursor: pointer;
   &::before{
       content: "";
       width: 16px;
       height: 16px;
       display: block;
       background: url(../img/svg/plus.svg) center no-repeat;
       margin-right: 10px;
   }
   &.active{
        border: 1px solid #AC9573; 
        &::before{
            background: url(../img/svg/minus.svg) center no-repeat;
        }
   } 
}

.review_form_wrapper{
    width: 100%;
    background: #fff;
    padding: 40px 100px 60px;
    box-shadow: 0px 0px 30px rgba(211, 211, 209, 0.3);
    margin-bottom: 60px;
    display: none;
    form{
        display: flex;
        flex-direction: column;
        label{
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            .title{
                font-weight: 300;
                font-size: 14px; 
                margin-bottom: 10px;
            }
            .stars{
                display: flex;
                .star{
                    margin: 0;
                    width: 20px;
                    height: 20px;
                    background: url(../img/svg/empty-star.svg) center no-repeat;
                    cursor: pointer;
                    &.active{
                        background: url(../img/svg/full-star.svg) center no-repeat;   
                    }
                    input{
                        display: none;
                    }
                }
            }
        }
        input{
            width: 100%;
            max-width: 300px;
            height: 40px;
            padding-left: 20px;
            background: #EEEEEE; 
            border: none;
        }
        textarea{
            width: 100%;
            max-width: 970px;
            height: 90px;
            padding: 20px;
            background: #EEEEEE; 
            border: none;
            resize: none;             
        }
        button{
           width: 200px;
           height: 50px;
           font-family: 'Ubuntu',sans-serif;
           font-weight: 500;
           display: flex;
           align-items: center;
           justify-content: center;
           text-transform: uppercase;
           background-color: #AC9573;
           color: #fff;
           margin-top: 10px;
        }
    }
}
.contact_info_wrapper{
    display: flex;
    .contact_box{
        display: flex;
        flex-direction: column;
        width: 25%;
        .contact_title{
            font-size: 22px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            margin-bottom: 15px;
        }
        a {
            display: flex;
            align-items: center;
            margin: 1px 0;
            img{
                margin-left: 10px;
            }
        }
        p{
            margin: 0;
        }
    }
}
.about_company_wrapper{
   display: flex;
   padding: 60px 0 0;
   .text_box{
       width: 60%;
       padding-right: 10%;
   }
   .img_box{
       width: 40%;
   }
}

.error_img{
    margin: 0 auto 0;
    display: block;
    left: -50px;
}
.error_title{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 35px;
    line-height: 40px;
    text-align: center;
    width: 100%;
    display: inline-block;
}
.error_text{
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    a{
        color: #AC9573;
        text-decoration: underline;
    }
}
.whrite_space{
   width: 100%;
   height: 100px; 
}

.modal_bg{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #23232399;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.call_modal{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    background: #F2EDDA;
    border: 3px solid #AC9573;
    padding: 30px 30px 60px;
    .modal_title{
        font-size: 22px;
        text-align: center;
        font-weight: 500;
        line-height: 25px;
        font-family: 'Ubuntu', sans-serif;
        margin-bottom: 15px;
    }
    .modal_text{
        font-weight: 300;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        margin-bottom: 40px;
    }
    form{
        display: flex;
        flex-direction: column;  
        width: 100%;
        input{
            width: 100%;
            border: 0;
            border-bottom: 1px solid #ac9573!important;
            background: initial;
            font-size: 14px;
            height: 40px; 
            margin-bottom: 20px;
            padding: 0 5px;
        }
        textarea{
            border: 1px solid #ac9573;
            background: initial;
            font-size: 14px;
            resize: none;
            height: 90px;
            padding: 5px;
        }
        button{
            margin: 40px auto 0;
        }
    }
    .close{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
}


@media screen and (max-width: 1170px){
    .container{
        padding: 0 20px;
    }
    section{
        padding: 40px 0 60px;
    }
    .main_section_wrapepr .text_box .main_section_title{
        max-width: 100%;
    }
    .main_section_wrapepr .img_box{
        display: none;
    }
    .main_section_wrapepr .text_box{
        width: 100%;
        padding: 0;
    }
    .catalog_wrapper .catalog_element .img_box{
        height: auto;
        margin-bottom: 15px;
    }
    .form_box .form_text_box .form_title{
        font-size: 28px; 
        text-align: center;
    }
    .form_box .form_text_box .form_text{
        font-size: 14px;
    }
    .form_box{
        flex-wrap: wrap;
    }
    .form_box .form_text_box{
        width: 100%;
        text-align: center;
    }
    .form_box form{
        width: 100%;
        align-items: center;
        padding: 0;
    }
    .form_box form button{
        margin-top: 20px;
        position: relative;
    }
    .form_box form input{
        max-width: 400px;
        text-align: center;
    }
    h1{
        width: 100%;
        padding: 0 20px;
        font-size: 32px;
        line-height: 32px;
        &::before{
            top: 100%;
        }
    }
    .our_partners_wrapepr .our_partners_element{
        justify-content: center;
    }
    .our_partners_wrapepr .our_partners_element .img_wrapper{
        width: calc(25% - 30px);
    }
    .contact_info_wrapper{
        flex-wrap: wrap;
        justify-content: center;
    }
    .contact_info_wrapper .contact_box{
        width: 50%;
        max-width: 400px;
        margin: 20px;
        text-align: center;
    }
    .contact_info_wrapper .contact_box a{
        justify-content: center;
    }
}
@media screen and (max-width: 1000px){
    .container{
        padding: 0 20px;
    }
    .catalog_wrapper .catalog_element{
        width: calc(50% - 30px); 
    }
    .catalog_wrapper .catalog_element .img_box{
        height: 250px;
        overflow: hidden;
    }
    .catalog_wrapper .catalog_element .img_box img{
        width: 100%;
        height: 100%;
    }
    .example_slider_wrapper{
        width: 100%;
    }
    .card_wrapepr{
        flex-direction: column;
        align-items: center;
    }
    .card_wrapepr .example_box{
        width: 100%;
    }
    .catd_text_content{
        width: 100%;
    }
    .card_wrapepr .img_slider_box{
        padding: 0;
    }
    .card_wrapepr .img_slider_box{
        width: 100%;
        max-width: 500px;
        margin-bottom: 40px;
    }
/*     .card_wrapepr .example_box .example_wrapper{
        justify-content: center;
        text-align: center;
    } */
}
@media screen and (max-width: 780px){
    .catalog_wrapper .catalog_element .img_box{
        height:auto;
        max-height: 250px;
    }
    .example_slider_wrapper .examle_element{
        height: auto;
    }
    .example_slider_wrapper .examle_element .before,.example_slider_wrapper .examle_element .after{
        width: 100%;
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        margin: 0 auto;
        justify-content: center;
        margin: 20px auto;
        flex-direction: column;
        justify-content: center;
    }
    .example_slider_wrapper .examle_element .text_column{
        width: 100%;
        height: 30px;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .example_slider_wrapper .examle_element .after .text, .example_slider_wrapper .examle_element .before .text{
        font-size: 22px;
        transform: rotate(0deg);
        display: flex;
        justify-content: center;
        position: relative;
        bottom: auto;
        left: auto;
        width: fit-content;
    }
    .before_img img,.after_img img{
        margin: auto;
        margin-top: 15px;
    }
    .example_slider_wrapper .examle_element .text_column::before{
        display: none;
    }
    .example_slider_wrapper .examle_element .after .text::before, .example_slider_wrapper .examle_element .before .text::before{
        content: "";
        display: block;
        width: 105%;
        min-width: 80px;
        position: absolute;
        height: 10px;
        top:60%;
        background-color: rgba(172,149,115,.3);
        left: auto; 
    }
    .slick-dots{
        margin: 15px 0 0; 
    }
    .advantages_wrapper .advanteges_element{
        width: 50%;
    }
    .about_company_wrapper .img_box{
        display: none;
    }
    .about_company_wrapper .text_box{
        padding: 0;
        width: 100%;
    }
}
@media screen and (max-width: 650px){
    h2{
        font-size: 24px; 
        line-height: 30px;
    }
    .main_section_wrapepr .text_box .main_section_title{
        font-size: 40px;
    }
    .main_section_wrapepr .text_box p{
        font-size: 18px;
    }
    .main_section_wrapepr .text_box .adv_line{
        flex-direction: column;
        margin-top: 40px;
    }
    .main_section_wrapepr .text_box .adv_line .adv{
        width: 100%;
        margin: 20px 0;
    }
    .main_section_wrapepr .text_box .adv_line .adv img{
        width: 65px;
    }
    .adv_line .adv span{
        width: calc(100% - 115px);
    }
    .catalog_wrapper .catalog_element .content_box .name{
        font-size: 20px; 
    }
    .catalog_wrapper .catalog_element .content_box{
        height: auto;
    }
    .catalog_wrapper .catalog_element .img_box .product_link_bg{
        opacity: 0 !important;
    }
    .catalog_wrapper .catalog_element .img_box .product_link_bg a{
        width: 100%;
        height: 100%;
    }
    .insta_wrapper{
        flex-direction: column;
        
    }
    .insta_wrapper .insta_element{
        width: 100%;
        max-width: 360px;
        margin: 15px auto;
        .img{
            display: flex;
            justify-content: center;
        }
    }
    .gallery_wrapper .gellery_element{
        width: calc(50% - 20px);
        margin: 10px;
    }
    .reviews_wrapper .reviews_element{
        padding: 40px;
    }
    .reviews_wrapper .reviews_element::before{
        display: none;
    }
    .control_line{
        justify-content: center;
    }
    .review_form_wrapper{
        padding: 40px 20px
    }
    .review_form_wrapper form input{
        max-width: 100%;
    }
    .card_wrapepr .example_box .example_wrapper .example_element .photo_example_box{
        display: none !important;
    }
}
@media screen and (max-width: 500px){
    .catalog_wrapper .catalog_element{
        width: 100%;
    }
    .catalog_wrapper .catalog_element .content_box{
        padding: 0 15px 30px;
    }
    .advantages_wrapper .advanteges_element{
        width: 100%;
    }
    .advantages_wrapper .advanteges_element img{
        height: auto;
    }
    .card_wrapepr .example_box .price_wrapper{
        flex-direction: column;
        align-items: center;
    }
    .card_wrapepr .example_box .price_wrapper .price_example{
        margin-right: 0;
    }
    .contact_info_wrapper .contact_box{
        width: 100%;
        max-width: 100%;
    }
    .error_img{
        left: -25px;
    }
    .error_title{
        font-size: 24px;
        line-height: 24px;
    }
    .error_text{
        font-size: 16px;
        line-height: 24px;
    }
    .our_partners_wrapepr .slick-arrow.prev{
        left: 0;
    }
    .our_partners_wrapepr .slick-arrow.next{
        right: 0;
    }
}