<footer>
    <div class="container">
        <div class="fotter_wrapper">
            <div class="footer_column">
                <span class="column_title">Каталог</span>
                <ul>
                    <li><a href="#">Экраны из МДФ «Комфорт»</a></li>
                    <li><a href="#">Экраны из МДФ «Элит»</a></li>
                    <li><a href="#">Экраны из массива</a></li>
                    <li><a href="#">Экраны из серии «Престиж»</a></li>
                    <li><a href="#">Экраны из мталла</a></li>
                    <li><a href="#">Жалюзи и рольшторы</a></li>
                </ul>
            </div>
            <div class="footer_column">
                <span class="column_title">Наши работы</span>
                <ul>
                    <li><a href="#">Для дома</a></li>
                    <li><a href="#">Для организации</a></li>
                    <li><a href="#">Для школ и садов</a></li>
                </ul>
            </div>
            <div class="footer_column">
                <span class="column_title">Контакты</span>
                <ul>
                    <li>Минск, пр-т Дзержинского 115</li>
                    <li><a href="tel:+375 (29) 295-55-44">+375 (29) 295-55-44 МТС</a></li>
                    <li><a href="tel:+375 (29) 602-64-49">+375 (29) 602-64-49 А1</a></li>
                    <li><a href="mailto:ekrany.by@mail.ru">ekrany.by@mail.ru</a></li>
                    <li class="footer_soc">
                        <a href="#"><img src="assets/img/svg/instagram-brown.svg"></a>
                        <a href="#"><img src="assets/img/svg/viber-brown.svg"></a>
                        <a href="#"><img src="assets/img/svg/telegram-brown.svg"></a>
                    </li>
                </ul>
            </div>
            <div class="footer_column form_column">
                <span class="column_title">Вызов замерщика</span>
                <form>
                    <input type="text" placeholder="Имя">
                    <input type="text" placeholder="Мобильный" class="mobile_masked">
                    <button type="submit" class="animate_button">Отправить</button>
                </form>
            </div>
        </div>
        <div class="copyright">
            Copyright © 2011-2021 Ekrany.by. All Rights Reserved.
        </div>
    </div>
</footer>
<div class="to_top"><img src="assets/img/svg/to-top.svg"></div>
<script src="assets/js/jquery-3.4.1.min.js"></script>
<script src="assets/js/jquery.fancybox.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/jquery.mask.min.js"></script>
<script src="assets/js/scripts.js"></script>
