<style>
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
</style>
<header>
    <div class="container">
        <div class="header_line">
             <a href="/"><img src="assets/img/svg/logo.svg" alt=""></a>
             <nav>
                 <a href="catalog.html" class="nav_link active">Каталог</a>
                 <a href="our_works.html" class="nav_link">Наши работы</a>
                 <a href="reviews_page.html" class="nav_link">Отзывы</a>
                 <a href="#" class="nav_link">Контакты</a>
             </nav>
             <div class="header_contact">
                 <div class="order_button animate_button">заказать</div>
                 <div class="numbers_box">
                     <a href="tel:+375292955544">+375 (29) 295-55-44</a>
                     <a href="tel:+375296026449">+375 (29) 602-64-49</a>
                 </div>
             </div>
             <div class="mobile_burger mobile_visible">
                 <img src="assets/img/svg/burger.svg" alt="">
             </div>
        </div>
    </div>  
</header>
