<div class="modal_bg">
    <div class="call_modal">
        <div class="close"><img src="assets/img/svg/close.svg"></div>
        <span class="modal_title">Нужен экран на батарею <br> для дома или офиса?</span>
        <span class="modal_text">Свяжитесь с нами и мы подберем <br> для вас подходящий вариант</span>
        <form>
            <input type="text" placeholder="Имя">
            <input type="text" placeholder="Мобильный" class="mobile_masked">
            <textarea placeholder="Сообщение"></textarea>
            <button type="submit">Отправить</button>
        </form>
    </div>
</div>