<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>
<body>

    {{> header }}
    <div class="breadcrumb_wrapper">
        <a href="/" class="breadcrumb_element">Главная</a>
        <a href="#" class="breadcrumb_element">Каталог</a>
        <a href="#content" class="breadcrumb_element last">Экраны из МДФ серии «Комфорт»</a>
    </div>
    <main>
        <h1>Экраны из МДФ серии «Комфорт»</h1>
        <div class="container">
            <div class="card_wrapepr">
                <div class="img_slider_box">
                    <img src="assets/img/product.png">
                    <img src="assets/img/product.png">
                    <img src="assets/img/product.png">
                    <img src="assets/img/product.png">
                </div>
                <div class="example_box">
                    <div class="photo_example_box"><img src="" class="main_img"></div>
                    <span class="example_box_title">Экраны из МДФ</span>
                    <div class="example_wrapper">
                        <span class="example_wrapper_title">Цветовая гамма профиля МДФ</span>
                         <a href="assets/img/example-detail-2.jpg"  data-fancybox="materials-1" class="example_element" style="background: url(assets/img/color-example-1.png) center/cover no-repeat">
                            <div class="photo_example_box"><img class="main_img" src="assets/img/example-detail-2.jpg"></div>
                         </a>
                        <a href="assets/img/example-detail-3.jpg" data-fancybox="materials-1" class="example_element" style="background: url(assets/img/color-example-2.png) center/cover no-repeat">
                            <div class="photo_example_box"><img class="main_img" src="assets/img/example-detail-3.jpg"></div>
                        </a>
                        <a href="assets/img/example-detail-4.jpg" data-fancybox="materials-1" class="example_element" style="background: url(assets/img/color-example-3.png) center/cover no-repeat">
                            <div class="photo_example_box"><img class="main_img" src="assets/img/example-detail-4.jpg"></div>
                        </a>
                        <a href="assets/img/example-detail-5.jpg" data-fancybox="materials-1" class="example_element" style="background: url(assets/img/color-example-4.png) center/cover no-repeat">
                            <div class="photo_example_box"><img class="main_img" src="assets/img/example-detail-5.jpg"></div>
                        </a>
                        <a href="assets/img/example-detail-6.jpg" data-fancybox="materials-1" class="example_element" style="background: url(assets/img/color-example-5.png) center/cover no-repeat">
                            <div class="photo_example_box"><img class="main_img" src="assets/img/example-detail-6.jpg"></div>
                        </a>
                        <a href="assets/img/example-detail-7.jpg" data-fancybox="materials-1" class="example_element" style="background: url(assets/img/color-example-6.png) center/cover no-repeat">
                            <div class="photo_example_box"><img class="main_img" src="assets/img/example-detail-7.jpg"></div>
                        </a>
                        <a href="assets/img/example-detail-8.jpg" data-fancybox="materials-1" class="example_element" style="background: url(assets/img/color-example-7.png) center/cover no-repeat">
                            <div class="photo_example_box"><img class="main_img" src="assets/img/example-detail-8.jpg"></div>
                        </a>
                        <a href="assets/img/example-detail-9.jpg" data-fancybox="materials-1" class="example_element" style="background: url(assets/img/color-example-8.png) center/cover no-repeat">
                            <div class="photo_example_box"><img class="main_img" src="assets/img/example-detail-9.jpg"></div>
                        </a>
                    </div>
                    <div class="example_wrapper">
                        <span class="example_wrapper_title">Цветовая гамма профиля МДФ</span>
                        <a href="assets/img/grid-detail-1.jpg" data-fancybox="materials-2" class="example_element" style="background: url(assets/img/grid-example-1.png) center/cover no-repeat">
                            <div class="photo_example_box"><img class="main_img" src="assets/img/grid-detail-1.jpg"></div>
                        </a>
                        <a href="assets/img/grid-detail-2.jpg" data-fancybox="materials-2" class="example_element" style="background: url(assets/img/grid-example-2.png) center/cover no-repeat">
                            <div class="photo_example_box"><img class="main_img" src="assets/img/grid-detail-2.jpg"></div>
                        </a>
                        <a href="assets/img/grid-detail-3.jpg" data-fancybox="materials-2" class="example_element" style="background: url(assets/img/grid-example-3.png) center/cover no-repeat">
                            <div class="photo_example_box"><img class="main_img" src="assets/img/grid-detail-3.jpg"></div>
                        </a>
                        <a href="assets/img/grid-detail-4.jpg" data-fancybox="materials-2" class="example_element" style="background: url(assets/img/grid-example-4.png) center/cover no-repeat">
                            <div class="photo_example_box"><img class="main_img" src="assets/img/grid-detail-4.jpg"></div>
                        </a>
                        <a href="assets/img/grid-detail-5.jpg" data-fancybox="materials-2" class="example_element" style="background: url(assets/img/grid-example-5.png) center/cover no-repeat">
                            <div class="photo_example_box"><img class="main_img" src="assets/img/grid-detail-5.jpg"></div>
                        </a>
                    </div>
                    <div class="example_wrapper">
                        <span class="example_wrapper_title">Цветовая гамма профиля МДФ</span>
                        <a href="assets/img/example-detail-2.jpg"  data-fancybox="materials-1" class="example_element" style="background: url(assets/img/color-example-1.png) center/cover no-repeat">
                            <div class="photo_example_box"><img class="main_img" src="assets/img/example-detail-2.jpg"></div>
                         </a>
                        <a href="assets/img/example-detail-3.jpg" data-fancybox="materials-1" class="example_element" style="background: url(assets/img/color-example-2.png) center/cover no-repeat">
                            <div class="photo_example_box"><img class="main_img" src="assets/img/example-detail-3.jpg"></div>
                        </a>
                        <a href="assets/img/example-detail-4.jpg" data-fancybox="materials-1" class="example_element" style="background: url(assets/img/color-example-3.png) center/cover no-repeat">
                            <div class="photo_example_box"><img class="main_img" src="assets/img/example-detail-4.jpg"></div>
                        </a>
                        <a href="assets/img/example-detail-5.jpg" data-fancybox="materials-1" class="example_element" style="background: url(assets/img/color-example-4.png) center/cover no-repeat">
                            <div class="photo_example_box"><img class="main_img" src="assets/img/example-detail-5.jpg"></div>
                        </a>
                        <a href="assets/img/example-detail-6.jpg" data-fancybox="materials-1" class="example_element" style="background: url(assets/img/color-example-5.png) center/cover no-repeat">
                            <div class="photo_example_box"><img class="main_img" src="assets/img/example-detail-6.jpg"></div>
                        </a>
                        <a href="assets/img/example-detail-7.jpg" data-fancybox="materials-1" class="example_element" style="background: url(assets/img/color-example-6.png) center/cover no-repeat">
                            <div class="photo_example_box"><img class="main_img" src="assets/img/example-detail-7.jpg"></div>
                        </a>
                        <a href="assets/img/example-detail-8.jpg" data-fancybox="materials-1" class="example_element" style="background: url(assets/img/color-example-7.png) center/cover no-repeat">
                            <div class="photo_example_box"><img class="main_img" src="assets/img/example-detail-8.jpg"></div>
                        </a>
                        <a href="assets/img/example-detail-9.jpg" data-fancybox="materials-1" class="example_element" style="background: url(assets/img/color-example-8.png) center/cover no-repeat">
                            <div class="photo_example_box"><img class="main_img" src="assets/img/example-detail-9.jpg"></div>
                        </a>
                    </div>
                    <div class="example_wrapper price_wrapper">
                        <span class="example_wrapper_title">Цены</span>
                        <div class="price_example">
                            <img src="assets/img/svg/price-1.svg" alt="">
                            <span class="price_text">От 95 руб. за 1м/пог</span>
                        </div>
                        <div class="price_example">
                            <img src="assets/img/svg/price-2.svg" alt="">
                            <span class="price_text">От 65 руб. за 1м/пог</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="catd_text_content">
                <p>Уже более 10 лет мы производим декоративные экраны для батарей в Минске из МДФ с перфорированной ХДФ панелью. Этот вариант покупатели выбирают в большинстве случаев. А обусловлено все тем, что изделия из этих материалов обладают наилучшим сочетанием: внешний вид, цена, качество.</p>
                    <span class="catd_text_title">Основные свойства:</span>
                <ul class="mark_list">
                    <li>Экологичность. МДФ и ХДФ изготавливаются из натуральных материалов. При этом используются клеевые составы, не содержащие вредных синтетических примесей;</li>
                    <li>Устойчивость к внешним факторам. Такие экраны не боятся воздействия УФ-лучей, влаги, перепадов температуры</li>
                    <li>Простота ухода. С течением времени такие панели не потеряют внешний вид. Их не нужно красить, или обрабатывать какими-то специальными составами, что очень важно для организаций, где есть необходимость скрыть большое количество батарей.</li>
                   
                </ul>
                <p>Экраны для батарей из МДФ с перфорированной ХДФ панелью отлично подходят для дома, офисных, а также других помещений. Помимо этого у нас есть реальный опыт изготовления таких экранов для: </p>
                <ul class="mark_list">
                    <li>конференц-залов и переговорных</li>
                    <li>школ и дошкольных учреждений</li>
                    <li>офисных помещений</li>
                    <li>государственных учреждений</li>
                    <li>гостиниц и др.</li>
                   
                </ul>
            </div>
        </div>
        <section class="form_section">
            <div class="container">
                <div class="form_box">
                    <div class="form_text_box">
                        <h2 class="form_title">Нужен экран на батарею <br> 
                            для дома или офиса?</h2>
                        <p class="form_text">Свяжитесь с нами и мы подберем для вас подходящий вариант</p>
                    </div>
                    <form>
                        <input type="text" placeholder="Имя">
                        <input type="text" placeholder="Мобильный" class="mobile_masked">
                        <button type="submit" class="animate_button">Отправить</button>
                    </form>
                </div>
            </div>
        </section>
        <div class="whrite_space"></div>
    </main>

    {{> footer }}

    {{> modals }}
</body>
</html>
