<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>
<body>

    {{> header }}
    <div class="breadcrumb_wrapper">
        <a href="/" class="breadcrumb_element">Главная</a>
        <a href="#content" class="breadcrumb_element last">Каталог</a>
    </div>
    <main>
        <h1>Каталог декоративные экранов</h1>
        <div class="container">
            <div class="catalog_wrapper">
                <div class="catalog_element">
                    <div class="img_box">
                        <img src="assets/img/product-1.png" alt="product-1">
                        <div class="product_link_bg">
                            <a href="card_page.html">Подробнее</a>
                        </div>
                    </div>
                    <div class="content_box">
                        <a href="#" class="name">Экраны из МДФ «Комфорт»</a>
                        <p class="description">Экран из ламинированного МДФ с перфорированной ХДФ панелью</p>
                    </div>
                </div>
                <div class="catalog_element">
                    <div class="img_box">
                        <img src="assets/img/product-2.png" alt="product-1">
                        <div class="product_link_bg">
                            <a href="card_page.html">Подробнее</a>
                        </div>
                    </div>
                    <div class="content_box">
                        <a href="#" class="name">Экраны из МДФ «Элит»</a>
                        <p class="description">Экран из крашенного
                            или шпонированного МДФ</p>
                    </div>
                </div>
                <div class="catalog_element">
                    <div class="img_box">
                        <img src="assets/img/product-3.png" alt="product-1">
                        <div class="product_link_bg">
                            <a href="card_page.html">Подробнее</a>
                        </div>
                    </div>
                    <div class="content_box">
                        <a href="#" class="name">Экраны из массива</a>
                        <p class="description">Экран из массива сосны, дуба</p>
                    </div>
                </div>
                <div class="catalog_element">
                    <div class="img_box">
                        <img src="assets/img/product-4.png" alt="product-1">
                        <div class="product_link_bg">
                            <a href="card_page.html">Подробнее</a>
                        </div>
                    </div>
                    <div class="content_box">
                        <a href="#" class="name">Экраны из серии «Престиж»</a>
                        <p class="description">Экран из МДФ или массива с резными элементами</p>
                    </div>
                </div>
                <div class="catalog_element">
                    <div class="img_box">
                        <img src="assets/img/product-5.png" alt="product-1">
                        <div class="product_link_bg">
                            <a href="card_page.html">Подробнее</a>
                        </div>
                    </div>
                    <div class="content_box">
                        <a href="#" class="name">Экраны из металла</a>
                        <p class="description">Экраны из цельного металла или профиля с наполнением пресочно-вытяжной сеткой</p>
                    </div>
                </div>
                <div class="catalog_element">
                    <div class="img_box">
                        <img src="assets/img/product-6.png" alt="product-1">
                        <div class="product_link_bg">
                            <a href="card_page.html">Подробнее</a>
                        </div>
                    </div>
                    <div class="content_box">
                        <a href="#" class="name">Жалюзи и рольшторы</a>
                        <p class="description">Вместе с экранами можно приобрести жалюзи и рольшторы всех типов</p>
                    </div>
                </div>
            </div>
            <div class="catd_text_content">
                <p>Представьте, вы делаете ремонт, но вид открытой батареи портит весь вид помещения. Декоративные экраны для батарей полностью решают эту проблему. Они не только красиво закрывают батарею, но и дополняют интерьер. 
                    Наша организация предлагает самый широкий ассортимент экранов на радиаторы отпления с доставкой по всей Беларуси! У нас Вы сможете приобрести как более бюджетные металлические экраны, так и более дорогие модели
                    с ротангом или из массива.</p>
                    <span class="catd_text_title">Преимущества заказа декоративных экранов на ekrany.by:</span>
                <ul class="mark_list">
                    <li>опыт работы более 10 лет в этом направлении;</li>
                    <li>по Минску бесплатный замер, доставка и монтаж </li>
                    <li>большой выбор вариантов оформления наличника и наполнения экрана</li>
                    <li>помощь специалиста в выборе варианта оформления</li>
                </ul>
            </div>
        </div>
        <section class="form_section">
            <div class="container">
                <div class="form_box">
                    <div class="form_text_box">
                        <h2 class="form_title">Нужен экран на батарею <br> 
                            для дома или офиса?</h2>
                        <p class="form_text">Свяжитесь с нами и мы подберем для вас подходящий вариант</p>
                    </div>
                    <form>
                        <input type="text" placeholder="Имя">
                        <input type="text" placeholder="Мобильный" class="mobile_masked">
                        <button type="submit" class="animate_button">Отправить</button>
                    </form>
                </div>
            </div>
        </section>
        <div class="whrite_space"></div>
    </main>

    {{> footer }}

    {{> modals }}
</body>
</html>
