<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>
<body>

    {{> header }}
    <main>
        <div class="container">
            <img src="assets/img/svg/404.svg" class="error_img">
            <span class="error_title">Запрашиваемая страница не найдена</span>
            <p class="error_text">К сожалению, страница которую вы запросили, не была найдета (ошибка 404). Вы можете перейти на <a href="/">главную страницу</a> или воспользоваться <a href="catalog_page">каталогом товаров.</a></p>
        </div>
        <div class="whrite_space"></div>
    </main>

    {{> footer }}

    {{> modals }}
</body>
</html>
