<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>
<body>

    {{> header }}
    <div class="breadcrumb_wrapper">
        <a href="/" class="breadcrumb_element">Главная</a>
        <a href="#content" class="breadcrumb_element">Наши работы</a>
        <a href="#content" class="breadcrumb_element last">Для дома</a>
    </div>
    <main>
        <h1>Экраны в домашних интерьерах</h1>
        <div class="container">
            <div class="gallery_wrapper">
                <a href="assets/img/product.png" data-fancybox="gallery" class="gellery_element"><img src="assets/img/product.png"></a>
                <a href="assets/img/product.png" data-fancybox="gallery" class="gellery_element"><img src="assets/img/product.png"></a>
                <a href="assets/img/product.png" data-fancybox="gallery" class="gellery_element"><img src="assets/img/product.png"></a>
                <a href="assets/img/product.png" data-fancybox="gallery" class="gellery_element"><img src="assets/img/product.png"></a>
                <a href="assets/img/product.png" data-fancybox="gallery" class="gellery_element"><img src="assets/img/product.png"></a>
                <a href="assets/img/product.png" data-fancybox="gallery" class="gellery_element"><img src="assets/img/product.png"></a>
                <a href="assets/img/product.png" data-fancybox="gallery" class="gellery_element"><img src="assets/img/product.png"></a>
                <a href="assets/img/product.png" data-fancybox="gallery" class="gellery_element"><img src="assets/img/product.png"></a>
                <a href="assets/img/product.png" data-fancybox="gallery" class="gellery_element"><img src="assets/img/product.png"></a>
                <a href="assets/img/product.png" data-fancybox="gallery" class="gellery_element"><img src="assets/img/product.png"></a>
                <a href="assets/img/product.png" data-fancybox="gallery" class="gellery_element"><img src="assets/img/product.png"></a>
                <a href="assets/img/product.png" data-fancybox="gallery" class="gellery_element"><img src="assets/img/product.png"></a>
                <a href="assets/img/product.png" data-fancybox="gallery" class="gellery_element"><img src="assets/img/product.png"></a>
                <a href="assets/img/product.png" data-fancybox="gallery" class="gellery_element"><img src="assets/img/product.png"></a>
                <a href="assets/img/product.png" data-fancybox="gallery" class="gellery_element"><img src="assets/img/product.png"></a>
                <a href="assets/img/product.png" data-fancybox="gallery" class="gellery_element"><img src="assets/img/product.png"></a>
            </div>
        </div>
    </main>

    {{> footer }}

    {{> modals }}
</body>
</html>
