<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>
<body>

    {{> header }}
    <div class="breadcrumb_wrapper">
        <a href="/" class="breadcrumb_element">Главная</a>
        <a href="#content" class="breadcrumb_element last">Наши работы</a>
    </div>
    <main>
        <h1>Декоративные экраны подходят</h1>
        <div class="container">
            <div class="catalog_wrapper">
                <div class="catalog_element">
                    <div class="img_box">
                        <img src="assets/img/product-1.png" alt="product-1">
                        <div class="product_link_bg">
                            <a href="gallery_page.html">Подробнее</a>
                        </div>
                    </div>
                    <div class="content_box">
                        <a href="gallery_page.html" class="name">Для дома</a>
                        <p class="description">Предмет декора, добавят уют в квартире.
                            Защитят от ударов и ожогов детей</p>
                    </div>
                </div>
                <div class="catalog_element">
                    <div class="img_box">
                        <img src="assets/img/product-2.png" alt="product-1">
                        <div class="product_link_bg">
                            <a href="gallery_page.html">Подробнее</a>
                        </div>
                    </div>
                    <div class="content_box">
                        <a href="gallery_page.html" class="name">Для организации</a>
                        <p class="description">Оформление радиаторов или ниш
                            в цвет мебели или стен</p>
                    </div>
                </div>
                <div class="catalog_element">
                    <div class="img_box">
                        <img src="assets/img/product-3.png" alt="product-1">
                        <div class="product_link_bg">
                            <a href="gallery_page.html">Подробнее</a>
                        </div>
                    </div>
                    <div class="content_box">
                        <a href="gallery_page.html" class="name">Для школ и садов</a>
                        <p class="description">Легко снимаются, по нормам СанПина,
                            украшают помещение и защищают детей</p>
                    </div>
                </div>
            </div>
        </div>
        <section class="our_partners">
            <div class="container">
                <div class="heading">
                    <span>Нам доверяют</span>
                </div>
                <div class="our_partners_wrapepr">
                    <div class="our_partners_element">
                        <div class="img_wrapper"><img src="assets/img/partner.png"></div>
                        <div class="img_wrapper"><img src="assets/img/partner.png"></div>
                        <div class="img_wrapper"><img src="assets/img/partner.png"></div>
                        <div class="img_wrapper"><img src="assets/img/partner.png"></div>
                        <div class="img_wrapper"><img src="assets/img/partner.png"></div>
                        <div class="img_wrapper"><img src="assets/img/partner.png"></div>
                        <div class="img_wrapper"><img src="assets/img/partner.png"></div>
                        <div class="img_wrapper"><img src="assets/img/partner.png"></div>
                        <div class="img_wrapper"><img src="assets/img/partner.png"></div>
                        <div class="img_wrapper"><img src="assets/img/partner.png"></div>
                    </div>
                    <div class="our_partners_element">
                        <div class="img_wrapper"><img src="assets/img/partner.png"></div>
                        <div class="img_wrapper"><img src="assets/img/partner.png"></div>
                        <div class="img_wrapper"><img src="assets/img/partner.png"></div>
                        <div class="img_wrapper"><img src="assets/img/partner.png"></div>
                        <div class="img_wrapper"><img src="assets/img/partner.png"></div>
                        <div class="img_wrapper"><img src="assets/img/partner.png"></div>
                        <div class="img_wrapper"><img src="assets/img/partner.png"></div>
                        <div class="img_wrapper"><img src="assets/img/partner.png"></div>
                        <div class="img_wrapper"><img src="assets/img/partner.png"></div>
                        <div class="img_wrapper"><img src="assets/img/partner.png"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="instagram">
            <div class="container">
                <div class="heading">
                    <span>Мы в Instagram</span>
                </div>
                <div class="insta_wrapper">
                    <a href="https://www.instagram.com/interno.by/" class="insta_element">
                        <div class="top_line">
                            <img src="assets/img/svg/interno-ico.svg">
                            <div class="text">
                                <p>interno.by</p>
                                <span>Новая Боровая</span>
                            </div>
                        </div>
                        <div class="img"><img src="assets/img/insta-1.png"></div>
                        <div class="bottom_line">
                            <img src="assets/img/svg/Heart.svg">
                            <img src="assets/img/svg/Comment.svg">
                            <img src="assets/img/svg/Mail.svg">
                            <img src="assets/img/svg/Bookmark.svg">
                        </div>
                    </a>
                    <a href="https://www.instagram.com/interno.by/" class="insta_element">
                        <div class="top_line">
                            <img src="assets/img/svg/interno-ico.svg">
                            <div class="text">
                                <p>interno.by</p>
                                <span>Новая Боровая</span>
                            </div>
                        </div>
                        <div class="img"><img src="assets/img/insta-1.png"></div>
                        <div class="bottom_line">
                            <img src="assets/img/svg/Heart.svg">
                            <img src="assets/img/svg/Comment.svg">
                            <img src="assets/img/svg/Mail.svg">
                            <img src="assets/img/svg/Bookmark.svg">
                        </div>
                    </a>
                    <a href="https://www.instagram.com/interno.by/" class="insta_element">
                        <div class="top_line">
                            <img src="assets/img/svg/interno-ico.svg">
                            <div class="text">
                                <p>interno.by</p>
                                <span>Новая Боровая</span>
                            </div>
                        </div>
                        <div class="img"><img src="assets/img/insta-1.png"></div>
                        <div class="bottom_line">
                            <img src="assets/img/svg/Heart.svg">
                            <img src="assets/img/svg/Comment.svg">
                            <img src="assets/img/svg/Mail.svg">
                            <img src="assets/img/svg/Bookmark.svg">
                        </div>
                    </a>
                </div>
            </div>
        </section>
        <section class="form_section">
            <div class="container">
                <div class="form_box">
                    <div class="form_text_box">
                        <h2 class="form_title">Нужен экран на батарею <br> 
                            для дома или офиса?</h2>
                        <p class="form_text">Свяжитесь с нами и мы подберем для вас подходящий вариант</p>
                    </div>
                    <form>
                        <input type="text" placeholder="Имя">
                        <input type="text" placeholder="Мобильный" class="mobile_masked">
                        <button type="submit" class="animate_button">Отправить</button>
                    </form>
                </div>
            </div>
        </section>
        <div class="whrite_space"></div>
    </main>

    {{> footer }}

    {{> modals }}
</body>
</html>
